body {
    margin: 0;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.app.day {
    background-color: azure;
}

.app.night {
    background-color: #0d0015;
}